body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6; 
}

h5 {
    margin: 0;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

.diversity{
    width: 300px;
    height: auto;
}

.Section {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.header{
    text-align: center;
}

.mid-section{
    display: flex;
    gap: 10px;
}

.Predictive{
    display: flex;
}

.Analytics{
    height: 190px;
}

.reduction{
    display: flex;
}

/* max-width: 600px (anything less than 600px)*/
/* min-width: 600px (anything more than 600px*/
/* Mobile devices (320px - 480px) */
@media (max-width: 1024px) {
   .Section{
    flex-direction: row;
    flex-wrap: wrap;
   }

   .mid-section{
    flex-direction: row;
    flex-wrap: wrap;
   }

   .middle-main-name{
    margin-bottom: 3%;
   }

   .reduction{
    flex-wrap: wrap;
   }

   .Predictive{
    flex-wrap: wrap;
   }


}

/* iPads/Tablets (481px - 1024px) */
@media (max-width: 1024px) {
    
}
